---
layout: default
---
<div id="page">

    <article id="content" {% if page.schema %} itemscope itemtype="http://schema.org/{{ page.schema }}"{% endif %}>
        <h1 class="page-header"><a href="http://bitweav.org">BitWeav</a>
            <span class="logo pull-right">W</span>
            <nav>
                <small><a href="/whitepaper.pdf">Whitepaper</a></small>
                <small><a href="https://github.com/bitweav">GitHub</a></small>
                <small><a href="https://twitter.com/liamzebedee">News</a></small>
                <small><a href="mailto:liamzebedee@yahoo.com.au">Contact</a></small>
            </nav>
        </h1>
        {{ content }}
    </article>

</div>
